:root{
    background-image: linear-gradient(#8A649F, #ddd6f3);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 200px;
}
body{
    background: none;
    height: 100%;
}
.instructions {
  margin: auto;  
  background-image: url("images/fotografierende-1294274-unsplash.jpg");
  background-size: 1200px 600px;
  width: 75%;
  height: 100%;
  border-radius: 5px;
}
h1.text-center.title {
    font-family: 'Berkshire Swash', cursive;
    src: url("/assets/Bedrock.otf") format("opentype");
    color: lavender;
    padding-top: 40px;
}
h3.text-center.instruction {
    color: lavender;
    font-family: 'Buenard', serif;
    background-image: linear-gradient(to right, #743890, #333333);    
    margin: auto;
    border-radius: 5px;
    padding: 20px;
    font-size: 15pt;
}

.instructionDiv{
    margin: auto;
    width: 75%;
    padding: 20px;
}

.game{
    width: 75%;
    margin: auto;
    padding-top: 30px;
    padding-left: 60px;
}
#crystal1{
    padding-top: 30px;
}
#crystal2{
    height: 70%;
}
#crystal3{
    padding-top: 27px;
}
#crystal4{
    padding-top: 30px;
}
.scoreboard{
    background-image: linear-gradient(to right, #333333, #743890);    
    margin: auto;
    color: lavender;
    font-family: 'Buenard', serif;
    border-radius: 5px;
}
#wins{
    padding: 5px;
}
#computerchoice{
    font-size: 20pt;
    color: violet;
}
#total{
    font-size: 20pt;
    color: violet;
}
.scoreTitle{
    padding: 20px;
}

@media only screen and (max-width: 1000px) {
    .instructions{
        width: 100%;
    }
    h3.text-center.instruction {
        font-size: 10pt;
    }
    .crystal-image{
        width: 15%;
    }
    #crystal1{
        float: left;

    }
    #crystal2{
        float: left;
    }
    #crystal3{
        float: left;
    }
    #crystal4{
        float: left;
    }
    .scoreboard{
        float: right;
        width: 25%;
    }
    .scoreTitle{
        font-size: 15pt;
        float: left;
        padding-left: 5%;
    }
    #total{
        font-size: 10pt;
    }
    #computerchoice{
        font-size: 10pt;
    }
  
